


.Layout {
  text-align: center;
  font-size: 21px;
}

.Layout-header {
  background-color: rgb(19, 42, 52);
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Rye', cursive;
}

.homeNav {
  font-size: 20px;
  font-family: 'Rye', cursive;

}

a {
  margin: 40px;
  color: black;
  z-index: 1;
}

.Layout-title {
  /*font-size: 1.5em;*/
  font-family: 'Rye', cursive;
}

.Layout-intro {
  font-size: large;
  font-family: 'Rye', cursive;
}

@keyframes Layout-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#drop-down {
  border: 2px solid black;
  font-size: 16px;
 height: 26px;
 width: 350px;
 font-family: 'Rye', cursive;
}

#value {
  font-size: 16px;
  font-family: 'Rye', cursive;
}

#list {
  font-family: 'Rye', cursive;
  font-size: 16px;
  /*background-color: rgba(255, 255, 255, 0.3);*/
}


body {
  /*background-image: url("http://www.pngmart.com/files/3/Popcorn-Transparent-Background.png");*/
  background-image: url("https://i.pinimg.com/736x/3d/5c/83/3d5c8355a120474d81d17a7193f9723a--cool-backgrounds-wallpaper-backgrounds.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

html
body {
  margin: 50;
  padding: 50;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;


}
